
:root {
    --space-element: 20px;
    --text-color: #fff;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 200px;
}

.image_avt {
    background-color: aqua;
    height: 100%;
}

.information {
    background-color: red;
    height: 100%;
}